@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 266 56% 99%;
    --foreground: 266 60% 0%;
    --muted: 266 38% 85%;
    --muted-foreground: 266 15% 38%;
    --popover: 266 56% 99%;
    --popover-foreground: 266 60% 0%;
    --card: 266 56% 98%;
    --card-foreground: 0 0% 0%;
    --border: 266 6% 89%;
    --input: 266 6% 89%;
    --primary: 266 74% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 266 19% 92%;
    --secondary-foreground: 266 19% 32%;
    --accent: 266 29% 85%;
    --accent-foreground: 266 29% 25%;
    --destructive: 8 98% 20%;
    --destructive-foreground: 8 98% 80%;
    --ring: 266 74% 47%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 266 56% 3%;
    --foreground: 266 35% 97%;
    --muted: 266 38% 15%;
    --muted-foreground: 266 15% 62%;
    --popover: 266 56% 3%;
    --popover-foreground: 266 35% 97%;
    --card: 266 56% 4%;
    --card-foreground: 266 35% 98%;
    --border: 266 6% 14%;
    --input: 266 6% 14%;
    --primary: 266 74% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 266 11% 8%;
    --secondary-foreground: 266 11% 68%;
    --accent: 266 19% 14%;
    --accent-foreground: 266 19% 74%;
    --destructive: 8 98% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 266 74% 47%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
